<style>
  #map {
      flex: 2 0 0;
      max-height: 500px;
      margin-bottom: 10px;
  }
  #vehicle-info {
    flex: 1 0 0;
    margin-left: 10px;
    border-radius: 8px;
    background: white;
    color: #28293e;
  }
  #vehicle-select{
    max-width: 33%;
    margin-bottom: 10px;
  }
  .content {
      display: flex;
      flex-direction: row;
      height: 100%;
      width: 100%;
  }
</style>

<script>

  var vehicles = '{{{ toJSON vehicles }}}';
  vehicles = JSON.parse(vehicles);
  var map;
  console.log('vehicles', vehicles);

  window.initMap = function () {
    map = new google.maps.Map(document.getElementById('map'));
    var markers = generateMarkers(map);
    markers = addClickHandlers(map, markers);
    map.fitBounds(generateBounds(markers));
  }

  // Add markers to the map
  // Set up markers based on the number of elements within the myPoints array
  function generateMarkers(map) {
    return vehicles.map(function (vehicle) {
      console.log('vehicle', vehicle);
      var myLatLng = new google.maps.LatLng(vehicle.location.latitude, vehicle.location.longitude);
      return new google.maps.Marker({
        position: myLatLng,
        map: map,
        id: vehicle.id,
        title: `${vehicle.year} ${vehicle.make} ${vehicle.model}`
      });
    });
  }

  function addClickHandlers(map, markers){
    return markers.map(function(marker) {
      marker.addListener('click', function () {
        selectVehicleFromMap(map, marker);
      });
      return marker;
    });
  }

  //center and zoom the map to fit the markers locations
  function generateBounds(markers){
    var bounds = new google.maps.LatLngBounds();
    markers.forEach(function (marker) {
      bounds.extend(marker.getPosition());
    });
    return bounds;
  }

  function getVehicleById(vehicleId){
    return vehicles.find(function(vehicle){
      return vehicle.id = vehicleId;
    });
  }

  function generateCarInfo(vehicleId){
    var vehicle = getVehicleById(vehicleId);
    console.log('vehicle', vehicle);
    // var vInfoList = $('#vehicle-info');
    $('#vehicle-title').text(vehicle.year + " " + vehicle.make + " " + vehicle.model);
  }

  function selectVehicleFromMap(marker) {
    map.setZoom(15);
    map.setCenter(marker.getPosition());
    $('#vehicle-select').val(marker.id);
    selectVehicle(marker.id);
  }

  function selectVehicle (vehicleId) {
    console.log('vehicleId', vehicleId);
    generateCarInfo(vehicleId);
  }

</script>


<select onchange="selectVehicle(this.value);" class="form-control" id="vehicle-select" name="vehicleId">
  {{#each vehicles}}
    <option value="{{id}}">{{year}} {{make}} {{model}}</option>
  {{/each}}
</select>
<div class="content">
  <div id="map"></div>
  <div id="vehicle-info">
    <h2 id="vehicle-title"></h2>
  </div>
</div>
<a href="/logout" class="btn btn-link" role="button">Logout</a>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATEnQ2RWxJhYahUL0SCAVGgKLWV5eZ4Eo&callback=initMap">
</script>
